version: '3.4'
services:
  release:
    build: .
    image: keboola/manage-api-tests
    command: composer ci

  dev: &dev-config
    build: .
    volumes:
      - ./:/code
    environment:
      - ENABLE_DEV_TESTS
      - KBC_MANAGE_API_URL
      - KBC_MANAGE_API_TOKEN
      - KBC_MANAGE_API_SUPER_TOKEN_WITH_UI_MANAGE_SCOPE
      - KBC_MANAGE_API_SUPER_TOKEN_WITH_PROJECTS_READ_SCOPE
      - KBC_MANAGE_API_SUPER_TOKEN_WITH_DELETED_PROJECTS_READ_SCOPE
      - KBC_MANAGE_API_SUPER_TOKEN_WITHOUT_SCOPES
      - KBC_SUPER_API_TOKEN
      - KBC_TEST_MAINTAINER_ID
      - KBC_TEST_ADMIN_EMAIL
      - KBC_TEST_ADMIN_TOKEN
      - KBC_TEST_ADMIN_WITH_MFA_EMAIL
      - KBC_TEST_ADMIN_WITH_MFA_TOKEN
      - TEST_ABS_ACCOUNT_KEY
      - TEST_ABS_REGION
      - TEST_ABS_ACCOUNT_NAME
      - TEST_ABS_CONTAINER_NAME
      - TEST_ABS_ROTATE_ACCOUNT_KEY
      - TEST_GCS_KEYFILE_JSON
      - TEST_GCS_KEYFILE_ROTATE_JSON
      - TEST_GCS_FILES_BUCKET
      - TEST_GCS_REGION
      - TEST_S3_ROTATE_KEY
      - TEST_S3_ROTATE_SECRET
      - TEST_S3_FILES_BUCKET
      - TEST_S3_KEY
      - TEST_S3_REGION
      - TEST_S3_SECRET
      - SUITE_NAME
      - TRAVIS_BUILD_ID
      - KBC_TEST_SNOWFLAKE_HOST
      - KBC_TEST_SNOWFLAKE_WAREHOUSE
      - KBC_TEST_SNOWFLAKE_BACKEND_REGION
      - KBC_TEST_SNOWFLAKE_BACKEND_NAME
      - KBC_TEST_SNOWFLAKE_BACKEND_PASSWORD

  dev-xdebug:
    <<: *dev-config
    build: docker/xdebug
    volumes:
      - ./:/code/
      - ./docker/xdebug/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini

networks:
  default:
    external:
      name: connection_api-tests
