openapi: 3.0.3
info:
  title: Manage API
  version: 1.0.0
  description: >-
    The Keboola Connection Management API covers all tasks required for managing
    projects, as well as some super admin features

    for controlling and monitoring Keboola Connection.


    ## Projects Management


    * Create, modify and delete maintainers, organizations and projects


    * Move projects between organizations


    * Define project limits


    * Provision Redshift and other Storage backends


    * Access project management activity log


    ## Projects Monitoring


    * Monitoring of projects over organizations and maintainers


    ## Super User Control and Monitoring


    * UI release and deployment


    * Components management


    * Storage and Syrup jobs monitoring (will be provided by Syrup utilizing new
    tokens for authorization)


    * Final project delete


    * Workers start/shutdown, etc.


    ## Authentication


    The API supports authentication by a personal access token, which can be
    retrieved in [Account
    Settings](https://connection.keboola.com/admin/account/change-password) in
    Keboola Connection.

    An access token is tied to an administrator and its permissions are derived
    from their permissions. When the administrator is disabled or deleted, all
    their tokens become invalid too.


    ## Token Types


    There are the following types of tokens:


    | Name | Tied to User | Token string is available only on create |
    Description  |

    | ------------- | ------------- | ------------------- | ----- |

    | user | Yes | Yes |Full access to maintainers, organizations and projects.
    Access is limited only to resources which are available for the token user.|

    | super | No | Yes | KBC management. Limited scopes can be specified
    `super_ui_deploy`, `super_monitoring`, ...  |
servers:
  - url: https://connection.keboola.com/
  - url: https://connection.eu-central-1.keboola.com/
  - url: https://connection.north-europe.azure.keboola.com/
paths:
  /manage/tokens/verify:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  description:
                    type: string
                  created:
                    type: string
                  lastUsed:
                    type: string
                  expires:
                    type: string
                  isSessionToken:
                    type: boolean
                  isExpired:
                    type: boolean
                  isDisabled:
                    type: boolean
                  scopes:
                    type: array
                    items: {}
                  type:
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
                      mfaEnabled:
                        type: boolean
                      features:
                        type: array
                        items: {}
                      canAccessLogs:
                        type: boolean
                      isSuperAdmin:
                        type: boolean
              example:
                id: 13702
                description: Example token
                created: 2021-06-28T22:27:28+0200
                lastUsed: 2022-06-13T22:29:03+0200
                expires: 2031-06-26T22:27:28+0200
                isSessionToken: false
                isExpired: false
                isDisabled: false
                scopes: []
                type: admin
                creator:
                  id: 7919
                  name: John Doe
                user:
                  id: 7919
                  name: John Doe
                  email: john.doe@keboola.com
                  mfaEnabled: true
                  features: []
                  canAccessLogs: true
                  isSuperAdmin: true
      summary: Token Verification
      operationId: Token Verification
      description: ''
      tags:
        - Token Verification
      parameters: []
  /manage/maintainers:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerModel'
              example:
                id: 123
                created: '2014-11-11T08:40:51.620Z'
                url: /questions/1
                defaultConnectionMysqlId: 234
                defaultConnectionRedshiftId: 232
                defaultConnectionSnowflakeId: 242
                defaultConnectionSynapseId: 235
                defaultConnectionExasolId: 236
                defaultConnectionTeradataId: 236
                defaultFileStorageId: 456
                dataPlaneId: 456
                zendeskUrl: https://some.url.com
      summary: Create a maintainer
      operationId: Create a maintainer
      description: >-
        Creates a new maintainer. The user associated with the token will become
        an admin of the maintainer.
      tags:
        - Maintainers
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: Example
              defaultConnectionRedshiftId: '234'
              defaultConnectionSnowflakeId: '324'
              defaultConnectionSynapseId: '324'
              defaultConnectionExasolId: '324'
              defaultConnectionTeradataId: '324'
              defaultFileStorageId: '456'
              dataPlaneId: '456'
              zendeskUrl: https://keboola.zendesk.com
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: Example
                  description: Maintainer name
                defaultConnectionRedshiftId:
                  type: string
                  example: '234'
                  description: Default Redshift Connection ID
                defaultConnectionSnowflakeId:
                  type: string
                  example: '324'
                  description: Default Snowflake Connection ID
                defaultConnectionSynapseId:
                  type: string
                  example: '324'
                  description: Default Synapse Connection ID
                defaultConnectionExasolId:
                  type: string
                  example: '324'
                  description: Default Exasol Connection ID
                defaultConnectionTeradataId:
                  type: string
                  example: '324'
                  description: Default Teradata Connection ID
                defaultFileStorageId:
                  type: string
                  example: '456'
                  description: Default File Storage ID
                dataPlaneId:
                  type: string
                  example: '456'
                  description: Data Plane ID
                zendeskUrl:
                  type: string
                  example: https://keboola.zendesk.com
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
      summary: List maintainers
      operationId: List maintainers
      description: ''
      tags:
        - Maintainers
      parameters: []
  /manage/maintainers/{maintainer_id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerModel'
              example:
                id: 123
                created: '2014-11-11T08:40:51.620Z'
                url: /questions/1
                defaultConnectionMysqlId: 234
                defaultConnectionRedshiftId: 232
                defaultConnectionSnowflakeId: 242
                defaultConnectionSynapseId: 235
                defaultConnectionExasolId: 236
                defaultConnectionTeradataId: 236
                defaultFileStorageId: 456
                dataPlaneId: 456
                zendeskUrl: https://some.url.com
      summary: Retrieve a maintainer
      operationId: Retrieve a maintainer
      description: ''
      tags:
        - Maintainers
      parameters:
        - &ref_0
          name: maintainer_id
          in: path
          description: ''
          required: true
          example: '1'
          schema:
            type: integer
    patch:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerModel'
              example:
                id: 123
                created: '2014-11-11T08:40:51.620Z'
                url: /questions/1
                defaultConnectionMysqlId: 234
                defaultConnectionRedshiftId: 232
                defaultConnectionSnowflakeId: 242
                defaultConnectionSynapseId: 235
                defaultConnectionExasolId: 236
                defaultConnectionTeradataId: 236
                defaultFileStorageId: 456
                dataPlaneId: 456
                zendeskUrl: https://some.url.com
      summary: Update a maintainer
      operationId: Update a maintainer
      description: A partial update of a maintainer
      tags:
        - Maintainers
      parameters:
        - *ref_0
      requestBody:
        content:
          application/json:
            example:
              name: Example
              defaultConnectionRedshiftId: '234'
              defaultConnectionSnowflakeId: '324'
              defaultConnectionSynapseId: '324'
              defaultConnectionExasolId: '324'
              defaultConnectionTeradataId: '324'
              defaultFileStorageId: '456'
              dataPlaneId: '456'
              zendeskUrl: https://keboola.zendesk.com
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Example
                  description: Maintainer name
                defaultConnectionRedshiftId:
                  type: string
                  example: '234'
                  description: Default Redshift Connection ID
                defaultConnectionSnowflakeId:
                  type: string
                  example: '324'
                  description: Default Snowflake Connection ID
                defaultConnectionSynapseId:
                  type: string
                  example: '324'
                  description: Default Synapse Connection ID
                defaultConnectionExasolId:
                  type: string
                  example: '324'
                  description: Default Exasol Connection ID
                defaultConnectionTeradataId:
                  type: string
                  example: '324'
                  description: Default Teradata Connection ID
                defaultFileStorageId:
                  type: string
                  example: '456'
                  description: Default File Storage ID
                dataPlaneId:
                  type: string
                  example: '456'
                  description: Data Plane ID
                zendeskUrl:
                  type: string
                  example: https://keboola.zendesk.com
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Delete a maintainer
      operationId: Delete a maintainer
      description: ''
      tags:
        - Maintainers
      parameters:
        - *ref_0
  /manage/maintainers/{maintainer_id}/invitations:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    created:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        email:
                          type: string
                    creator:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        email:
                          type: string
                  required:
                    - id
                    - created
                    - user
                    - creator
              example:
                - id: 112
                  created: 2018-07-10T10:45:11+0200
                  user:
                    id: 124
                    name: test user 2
                    email: spam@keboola.com
                  creator:
                    id: 123
                    name: test user
                    email: martin@keboola.com
                - id: 113
                  created: 2018-07-10T10:50:00+0200
                  user:
                    id: 125
                    name: test user 3
                    email: spam@keboola.com
                  creator:
                    id: 123
                    name: test user
                    email: martin@keboola.com
      summary: List maintainers invitations
      operationId: List maintainers invitations
      description: ''
      tags:
        - Maintainers
      parameters:
        - &ref_1
          name: maintainer_id
          in: path
          description: Maintainer ID
          required: true
          schema:
            type: string
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  created:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
      summary: Invite a user to a maintainer
      operationId: Invite a user to a maintainer
      description: Only members of the maintainer and superadmins can invite other users.
      tags:
        - Maintainers
      parameters:
        - *ref_1
      requestBody:
        content:
          application/json:
            example:
              email: martin@keboola.com
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  example: martin@keboola.com
                  description: Email of an invited user
  /manage/maintainers/{maintainer_id}/invitations/{invitation_id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  created:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
      summary: Maintainer invitation detail
      operationId: Maintainer invitation detail
      description: ''
      tags:
        - Maintainers
      parameters:
        - &ref_2
          name: maintainer_id
          in: path
          description: Maintainer ID
          required: true
          schema:
            type: string
        - &ref_3
          name: invitation_id
          in: path
          description: User ID
          required: true
          schema:
            type: string
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Cancel maintainer invitation
      operationId: Cancel maintainer invitation
      description: ''
      tags:
        - Maintainers
      parameters:
        - *ref_2
        - *ref_3
  /manage/maintainers/{maintainer_id}/users:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    email:
                      type: string
              example:
                - id: 23423
                  name: Martin Halamicek
                  email: martin@keboola.com
      summary: List maintainer users
      operationId: List maintainer users
      description: ''
      tags:
        - Maintainers
      parameters:
        - &ref_4
          name: maintainer_id
          in: path
          description: ID of the maintainer
          required: true
          example: '1'
          schema:
            type: number
    post:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Add a User to maintainer
      operationId: Add a User to maintainer
      description: >-
        Either `id` or `email` of a user must be set. If the email is not
        associated with a user, a new account is created and an invitation is
        sent.
      tags:
        - Maintainers
      parameters:
        - *ref_4
      requestBody:
        content:
          application/json:
            example:
              id: '7234'
              email: martin@keboola.com
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '7234'
                  description: User ID
                email:
                  type: string
                  example: martin@keboola.com
                  description: User email
  /manage/maintainers/{maintainer_id}/users/{user_id}:
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Remove a user from maintainer
      operationId: Remove a user from maintainer
      description: ''
      tags:
        - Maintainers
      parameters:
        - name: maintainer_id
          in: path
          description: ID of the maintainer
          required: true
          example: '1'
          schema:
            type: number
        - name: user_id
          in: path
          description: User ID
          required: true
          example: '1'
          schema:
            type: string
  /manage/maintainers/{maintainer_id}/metadata:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content: {}
      summary: Set maintainer metadata
      operationId: Set maintainer metadata
      description: >-
        Sets multiple metadata with one call. If the given key and provider
        combination already exist

        for the maintainer, the data will be updated with the new value and
        timestamp.

        Only maintainer members and super admins can change metadata.
      tags:
        - Maintainers
      parameters:
        - name: maintainer_id
          in: path
          description: Maintainer ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              provider: user
              metadata:
                - key: KBC.SomeEnity.metadataKey
                  value: Some value
                - key: someMetadataKey
                  value: Some value
            schema:
              type: object
              required:
                - provider
                - metadata
              properties:
                provider:
                  type: string
                  enum:
                    - user
                    - system
                metadata:
                  type: array
                  items: {}
                  description: Array of metadata objects
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
      summary: List maintainer metadata
      operationId: List maintainer metadata
      description: Only members of the maintainer and super admins can list metadata.
      tags:
        - Maintainers
      parameters:
        - name: maintainer_id
          in: path
          description: Maintainer ID
          required: true
          schema:
            type: string
  /manage/maintainers/{maintainer_id}/metadata/{metadata_id}:
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Remove maintainer metadata
      operationId: Remove maintainer metadata
      description: ''
      tags:
        - Maintainers
      parameters:
        - name: maintainer_id
          in: path
          description: Maintainer ID
          required: true
          schema:
            type: string
        - name: metadata_id
          in: path
          description: Metadata ID
          required: true
          schema:
            type: string
  /manage/organizations/{organization_id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  created:
                    type: string
                  allowAutoJoin:
                    type: boolean
                  crmId:
                    type: string
                  activityCenterProjectId:
                    type: number
                  mfaRequired:
                    type: boolean
                  projects:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        created:
                          type: string
              example:
                id: 123
                name: sample org
                created: 2015-10-02T11:03:44+0200
                allowAutoJoin: true
                crmId: '6232456'
                activityCenterProjectId: 123
                mfaRequired: false
                projects:
                  - id: 123
                    name: Demo
                    created: '2014-11-11T08:40:51.620Z'
      summary: Retrieve an organization
      operationId: Retrieve an organization
      description: >-
        To access token needs to be superuser, member of the organization,
        member of the maintainer or application token with

        scope `organizations:read`.
      tags:
        - Organizations
      parameters:
        - &ref_5
          name: organization_id
          in: path
          description: ID of the organization in form of an integer
          required: true
          example: '1'
          schema:
            type: number
    patch:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  created:
                    type: string
                  allowAutoJoin:
                    type: boolean
                  crmId:
                    type: string
                  activityCenterProjectId:
                    type: number
                  mfaRequired:
                    type: boolean
                  projects:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        created:
                          type: string
              example:
                id: 123
                name: POC
                created: 2015-10-02T11:03:44+0200
                allowAutoJoin: true
                crmId: '123456'
                activityCenterProjectId: 123
                mfaRequired: false
                projects:
                  - id: 123
                    name: Demo
                    created: '2014-11-11T08:40:51.620Z'
      summary: Update an organization
      operationId: Update an organization
      description: Partial update of an organization
      tags:
        - Organizations
      parameters:
        - *ref_5
      requestBody:
        content:
          application/json:
            example:
              name: POC
              maintainerId: ''
              allowAutoJoin: ''
              crmId: '123456'
              activityCenterProjectId: '123'
              mfaRequired: ''
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: POC
                  description: Organization name
                maintainerId:
                  type: string
                  description: Assign the organization to another maintainer.
                allowAutoJoin:
                  type: string
                  description: >-
                    Set whether superAdmins need approval to join the
                    organization's projects (default `true`).
                crmId:
                  type: string
                  example: '123456'
                  description: >-
                    Set CRM ID. Only maintainer members and superadmins can
                    change this.
                activityCenterProjectId:
                  type: string
                  example: '123'
                  description: >-
                    Set ActivityCenter ProjectId. Only maintainer members and
                    superadmins can change this.
                mfaRequired:
                  type: string
                  description: >-
                    Toggle whether all members of or organization and its
                    projects must have enabled multi-factor authentication
                    (default `false`).
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Delete an organization
      operationId: Delete an organization
      description: ''
      tags:
        - Organizations
      parameters:
        - *ref_5
  /manage/maintainers/{maintainer_id}/organizations:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationModel'
              example:
                id: 123
                name: sample org
                created: '2014-11-11T08:40:51.620Z'
                allowAutoJoin: true
                crmId: '6232456'
                activityCenterProjectId: 123
                mfaRequired: false
                projects:
                  - id: 123
                    name: Demo
                    created: '2014-11-11T08:40:51.620Z'
      summary: Create an organization
      operationId: Create an organization
      description: Creates a new organization.
      tags:
        - Organizations
      parameters:
        - &ref_6
          name: maintainer_id
          in: path
          description: >-
            ID of the parent maintainer. The created organization will be
            assigned to this maintainer.
          required: true
          example: '1'
          schema:
            type: number
      requestBody:
        content:
          application/json:
            example:
              name: POC
              crmId: '234'
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: POC
                  description: Organization name
                crmId:
                  type: string
                  example: '234'
                  description: CRM id
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
      summary: List maintainer's organizations
      operationId: List maintainer's organizations
      description: ''
      tags:
        - Organizations
      parameters:
        - *ref_6
  /manage/organizations/{organization_id}/invitations:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    created:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        email:
                          type: string
                    creator:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        email:
                          type: string
                  required:
                    - id
                    - created
                    - user
                    - creator
              example:
                - id: 112
                  created: 2018-07-10T10:45:11+0200
                  user:
                    id: 124
                    name: test user 2
                    email: spam@keboola.com
                  creator:
                    id: 123
                    name: test user
                    email: martin@keboola.com
                - id: 113
                  created: 2018-07-10T10:50:00+0200
                  user:
                    id: 125
                    name: test user 3
                    email: spam@keboola.com
                  creator:
                    id: 123
                    name: test user
                    email: martin@keboola.com
      summary: List organization invitations
      operationId: List organization invitations
      description: ''
      tags:
        - Organizations
      parameters:
        - &ref_7
          name: organization_id
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  created:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
      summary: Invite a user to a organization
      operationId: Invite a user to a organization
      description: Only members of the organization can invite other users.
      tags:
        - Organizations
      parameters:
        - *ref_7
      requestBody:
        content:
          application/json:
            example:
              email: martin@keboola.com
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  example: martin@keboola.com
                  description: Email of an invited user
  /manage/organizations/{organization_id}/invitations/{invitation_id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  created:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
      summary: Organization invitation detail
      operationId: Organization invitation detail
      description: ''
      tags:
        - Organizations
      parameters:
        - &ref_8
          name: organization_id
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
        - &ref_9
          name: invitation_id
          in: path
          description: User ID
          required: true
          schema:
            type: string
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Cancel organization invitation
      operationId: Cancel organization invitation
      description: ''
      tags:
        - Organizations
      parameters:
        - *ref_8
        - *ref_9
  /manage/organizations/{organization_id}/users:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    email:
                      type: string
              example:
                - id: 23423
                  name: Martin Halamicek
                  email: martin@keboola.com
      summary: List organization users
      operationId: List organization users
      description: ''
      tags:
        - Organizations
      parameters:
        - &ref_10
          name: organization_id
          in: path
          description: ID of the organization
          required: true
          example: '1'
          schema:
            type: number
    post:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Add a User to organization
      operationId: Add a User to organization
      description: >-
        Either `id` or `email` of a user must be set. If the email is not
        associated with a user, a new account is created and an invitation is
        sent.
      tags:
        - Organizations
      parameters:
        - *ref_10
      requestBody:
        content:
          application/json:
            example:
              id: '7234'
              email: martin@keboola.com
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: '7234'
                  description: User ID
                email:
                  type: string
                  example: martin@keboola.com
                  description: User email
  /manage/organizations/{organization_id}/users/{user_id}:
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Remove a user from organization
      operationId: Remove a user from organization
      description: ''
      tags:
        - Organizations
      parameters:
        - name: organization_id
          in: path
          description: ID of the organization
          required: true
          example: '1'
          schema:
            type: number
        - name: user_id
          in: path
          description: User ID
          required: true
          example: '1'
          schema:
            type: string
  /manage/organizations/{organization_id}/projects-users:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    email:
                      type: string
                  required:
                    - id
                    - name
                    - email
              example:
                - id: 123
                  name: test user
                  email: martin@keboola.com
                - id: 125
                  name: test user 3
                  email: spam@keboola.com
      summary: List project users in organization
      operationId: List project users in organization
      description: >-
        List of all users who are members of at least one project in the
        organization. Only members of the organization can get this list.
      tags:
        - Organizations
      parameters:
        - name: organization_id
          in: path
          description: ID of the organization
          required: true
          example: '1'
          schema:
            type: number
  /manage/organizations/{organization_id}/join-organization:
    post:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Join a organization
      operationId: Join a organization
      description: >-
        If the organization allows autojoin (`allowAutoJoin` attribute is se to
        `true`), all members of its maintainer and superadmins are allowed to
        join the organization.
      tags:
        - Organizations
      parameters:
        - name: organization_id
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
  /manage/organizations/{organization_id}/force-mfa:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
      summary: Require Multi-Factor Authentication
      operationId: Require Multi-Factor Authentication
      description: >-
        With MFA as required, any user that does not have MFA enabled will lose
        access to the project until they set it up.


        Only members of the organization with MFA enabled can perform this
        action.
      tags:
        - Organizations
      parameters:
        - name: organization_id
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
  /manage/organizations/{organization_id}/metadata:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    provider:
                      type: string
                    timestamp:
                      type: string
                    key:
                      type: string
                    value:
                      type: string
                  required:
                    - id
                    - provider
                    - timestamp
                    - key
                    - value
              example:
                - id: 123
                  provider: user
                  timestamp: 2021-02-17T15:05:21+0100
                  key: KBC.SomeEnity.metadataKey
                  value: Some value
                - id: 124
                  provider: user
                  timestamp: 2021-02-17T15:05:21+0100
                  key: someMetadataKey
                  value: Some value
      summary: Set organization metadata
      operationId: Set organization metadata
      description: >-
        Sets multiple metadata with one call. If the given key and provider
        combination already exist

        for the organization, the data will be updated with the new value and
        timestamp.

        Only organization members, members of the maintainer and super admins
        can change metadata.
      tags:
        - Organizations
      parameters:
        - name: organization_id
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              provider: user
              metadata:
                - key: KBC.SomeEnity.metadataKey
                  value: Some value
                - key: someMetadataKey
                  value: Some value
            schema:
              type: object
              required:
                - provider
                - metadata
              properties:
                provider:
                  type: string
                  enum:
                    - user
                    - system
                metadata:
                  type: array
                  items: {}
                  description: Array of metadata objects
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    provider:
                      type: string
                    timestamp:
                      type: string
                    key:
                      type: string
                    value:
                      type: string
                  required:
                    - id
                    - provider
                    - timestamp
                    - key
                    - value
              example:
                - id: 123
                  provider: user
                  timestamp: 2021-02-17T15:05:21+0100
                  key: KBC.SomeEnity.metadataKey
                  value: Some value
                - id: 124
                  provider: user
                  timestamp: 2021-02-17T15:05:21+0100
                  key: someMetadataKey
                  value: Some value
      summary: List organization Metadata
      operationId: List organization Metadata
      description: >-
        Only members of the maintainer, members of organization and super admins
        can list metadata.
      tags:
        - Organizations
      parameters:
        - name: organization_id
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
  /manage/organizations/{organization_id}/metadata/{metadata_id}:
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Remove organization metadata
      operationId: Remove organization metadata
      description: ''
      tags:
        - Organizations
      parameters:
        - name: organization_id
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
        - name: metadata_id
          in: path
          description: Metadata ID
          required: true
          schema:
            type: string
  /manage/projects/{project_id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectModel'
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ''
                  activityCenterProjectId: ''
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: AKIAJ2N244XSWYVVYVLQ
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ''
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
                dataPlanes:
                  - id: 123
                    owner: keboola
                    region: us-east-1
                    provider: aws
                    parameters:
                      test: value
                    created: '2020-05-11T15:30:00Z'
                    creator:
                      id: 10
                      name: keboola
      summary: Project detail
      operationId: Project detail
      description: >-
        Returns a project with associated limits and metrics.


        * limits  - These are limits assigned to a project (number of admins,
        number of orchestrations, parallelization).


        * metrics - Latest values of the monitored project metrics


        If the project is configured with pay as you go billing, `payAsYouGo`
        section is also included in the project details.


        This endpoint can also be accessed using application tokens with scope
        `projects:read`
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
    put:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectModel'
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ''
                  activityCenterProjectId: ''
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: AKIAJ2N244XSWYVVYVLQ
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ''
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
                dataPlanes:
                  - id: 123
                    owner: keboola
                    region: us-east-1
                    provider: aws
                    parameters:
                      test: value
                    created: '2020-05-11T15:30:00Z'
                    creator:
                      id: 10
                      name: keboola
      summary: Update a project
      operationId: Update a project
      description: ''
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              name: Test
              defaultBackend: snowflake
              type: demo
              expirationDays: '7'
              billedMonthlyPrice: '2000'
              dataRetentionTimeInDays: '20'
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Test
                  description: Rename project
                defaultBackend:
                  type: string
                  example: snowflake
                  description: Change project default backend type
                type:
                  type: string
                  example: demo
                  description: >-
                    Change project type (demo, production, poc, ...) - allowed
                    only for a super admin
                expirationDays:
                  type: string
                  example: '7'
                  description: Change project expiration - allowed only for a super admin
                billedMonthlyPrice:
                  type: string
                  example: '2000'
                  description: Change project monthly fee - allowed only for a super admin
                dataRetentionTimeInDays:
                  type: string
                  example: '20'
                  description: >-
                    (Snowflake only) Change the data retention period for this
                    project - allowed only for a super admin
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Delete a project
      operationId: Delete a project
      description: >-
        A project will not be physically deleted. It'll only be inaccessible and
        hidden. If project was listed as `activityCenterProjectId` in it's
        organization and it will be deleted, the `activityCenterProjectId` will
        be set to `null`.
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
  /manage/organizations/{organization_id}/projects:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectModel'
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ''
                  activityCenterProjectId: ''
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: AKIAJ2N244XSWYVVYVLQ
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ''
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
                dataPlanes:
                  - id: 123
                    owner: keboola
                    region: us-east-1
                    provider: aws
                    parameters:
                      test: value
                    created: '2020-05-11T15:30:00Z'
                    creator:
                      id: 10
                      name: keboola
      summary: Add a project
      operationId: Add a project
      description: ''
      tags:
        - Projects
      parameters:
        - &ref_11
          name: organization_id
          in: path
          description: Organization ID; projects have to be created in an organization.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              name: My Demo
              type: demo
              defaultBackend: snowflake
              dataRetentionTimeInDays: '7'
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                  example: My Demo
                  description: Project name
                type:
                  type: string
                  example: demo
                  description: One of `production`, `poc`, `demo`; default is `production`
                defaultBackend:
                  type: string
                  example: snowflake
                  description: >-
                    Project default backend `snowflake` or `redshift`; default
                    is `snowflake`
                dataRetentionTimeInDays:
                  type: string
                  example: '7'
                  description: Data retention in days for Time Travel
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  type:
                    type: string
                  region:
                    type: string
                  created:
                    type: string
                  expires:
                    nullable: true
                  features:
                    type: array
                    items:
                      type: string
                  dataSizeBytes:
                    type: number
                  rowsCount:
                    type: number
                  hasMysql:
                    type: boolean
                  hasRedshift:
                    type: boolean
                  hasSynapse:
                    type: boolean
                  hasExasol:
                    type: boolean
                  hasTeradata:
                    type: boolean
                  hasSnowflake:
                    type: boolean
                  defaultBackend:
                    type: string
                  hasTryModeOn:
                    type: string
                  limits:
                    type: object
                    properties:
                      limitName:
                        type: object
                        properties:
                          name:
                            type: string
                          value:
                            type: number
                  metrics:
                    type: object
                    properties: {}
                  isDisabled:
                    type: boolean
                  billedMonthlyPrice:
                    nullable: true
                  dataRetentionTimeInDays:
                    type: number
                  fileStorageProvider:
                    type: string
              example:
                id: 101
                name: test project
                type: production
                region: eu-west-1
                created: 2017-02-15T14:25:15+0100
                expires: null
                features:
                  - featureName
                dataSizeBytes: 49152
                rowsCount: 200
                hasMysql: false
                hasRedshift: false
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                hasSnowflake: true
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  limitName:
                    name: limitName
                    value: 10
                metrics: {}
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 1
                fileStorageProvider: aws
      summary: List projects for an organization
      operationId: List projects for an organization
      description: ''
      tags:
        - Projects
      parameters:
        - *ref_11
  /manage/projects/{project_id}/organizations:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectModel'
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ''
                  activityCenterProjectId: ''
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: AKIAJ2N244XSWYVVYVLQ
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ''
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
                dataPlanes:
                  - id: 123
                    owner: keboola
                    region: us-east-1
                    provider: aws
                    parameters:
                      test: value
                    created: '2020-05-11T15:30:00Z'
                    creator:
                      id: 10
                      name: keboola
      summary: Move a project
      operationId: Move a project
      description: ''
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              organizationId: '523'
            schema:
              type: object
              required:
                - organizationId
              properties:
                organizationId:
                  type: string
                  example: '523'
                  description: ID of destination organization
  /manage/projects/{project_id}/storage-backend:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectModel'
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ''
                  activityCenterProjectId: ''
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: AKIAJ2N244XSWYVVYVLQ
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ''
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
                dataPlanes:
                  - id: 123
                    owner: keboola
                    region: us-east-1
                    provider: aws
                    parameters:
                      test: value
                    created: '2020-05-11T15:30:00Z'
                    creator:
                      id: 10
                      name: keboola
      summary: Assign project Storage backend
      operationId: Assign project Storage backend
      description: ''
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              storageBackendId: '32'
            schema:
              type: object
              required:
                - storageBackendId
              properties:
                storageBackendId:
                  type: string
                  example: '32'
                  description: ID of Storage backend
  /manage/projects/{project_id}/storage-backend/{storage_backend_id}:
    delete:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectModel'
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ''
                  activityCenterProjectId: ''
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: AKIAJ2N244XSWYVVYVLQ
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ''
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
                dataPlanes:
                  - id: 123
                    owner: keboola
                    region: us-east-1
                    provider: aws
                    parameters:
                      test: value
                    created: '2020-05-11T15:30:00Z'
                    creator:
                      id: 10
                      name: keboola
      summary: Remove project Storage backend
      operationId: Remove project Storage backend
      description: ''
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
        - name: storage_backend_id
          in: path
          description: >-
            Storage backend ID; must be one of Storage backends assigned to the
            project.
          required: true
          schema:
            type: string
  /manage/projects/{project_id}/file-storage:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectModel'
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ''
                  activityCenterProjectId: ''
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: AKIAJ2N244XSWYVVYVLQ
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ''
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
                dataPlanes:
                  - id: 123
                    owner: keboola
                    region: us-east-1
                    provider: aws
                    parameters:
                      test: value
                    created: '2020-05-11T15:30:00Z'
                    creator:
                      id: 10
                      name: keboola
      summary: Assign project file Storage
      operationId: Assign project file Storage
      description: ''
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              fileStorageId: '32'
            schema:
              type: object
              required:
                - fileStorageId
              properties:
                fileStorageId:
                  type: string
                  example: '32'
                  description: ID of file Storage
  /manage/projects/{project_id}/limits:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectModel'
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ''
                  activityCenterProjectId: ''
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: AKIAJ2N244XSWYVVYVLQ
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ''
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
                dataPlanes:
                  - id: 123
                    owner: keboola
                    region: us-east-1
                    provider: aws
                    parameters:
                      test: value
                    created: '2020-05-11T15:30:00Z'
                    creator:
                      id: 10
                      name: keboola
      summary: Set project limits
      operationId: Set project limits
      description: ''
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              limits:
                - name: goodData.usersCount
                  value: 23
            schema:
              type: object
              properties:
                limits:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: number
  /manage/projects/{project_id}/limits/{limit_name}:
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Remove project limit
      operationId: Remove project limit
      description: ''
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
        - name: limit_name
          in: path
          description: Limit name
          required: true
          schema:
            type: string
  /manage/projects/{project_id}/metadata:
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    provider:
                      type: string
                    timestamp:
                      type: string
                    key:
                      type: string
                    value:
                      type: string
                  required:
                    - id
                    - provider
                    - timestamp
                    - key
                    - value
              example:
                - id: 123
                  provider: user
                  timestamp: 2021-02-17T15:05:21+0100
                  key: KBC.SomeEnity.metadataKey
                  value: Some value
                - id: 124
                  provider: user
                  timestamp: 2021-02-17T15:05:21+0100
                  key: someMetadataKey
                  value: Some value
      summary: Set project metadata
      operationId: Set project metadata
      description: >-
        Sets multiple metadata with one call. If the given key and provider
        combination already exist

        for the project, the data will be updated with the new value and
        timestamp.

        Only project members with Admin or Share roles, members of the
        maintainer, members of organization and super admins can change
        metadata.
      tags:
        - Projects
      parameters:
        - &ref_12
          name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              provider: user
              metadata:
                - key: KBC.SomeEnity.metadataKey
                  value: Some value
                - key: someMetadataKey
                  value: Some value
            schema:
              type: object
              required:
                - provider
                - metadata
              properties:
                provider:
                  type: string
                  enum:
                    - user
                    - system
                metadata:
                  type: array
                  items: {}
                  description: Array of metadata objects
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    provider:
                      type: string
                    timestamp:
                      type: string
                    key:
                      type: string
                    value:
                      type: string
                  required:
                    - id
                    - provider
                    - timestamp
                    - key
                    - value
              example:
                - id: 123
                  provider: user
                  timestamp: 2021-02-17T15:05:21+0100
                  key: KBC.SomeEnity.metadataKey
                  value: Some value
                - id: 124
                  provider: user
                  timestamp: 2021-02-17T15:05:21+0100
                  key: someMetadataKey
                  value: Some value
      summary: List project Metadata
      operationId: List project Metadata
      description: >-
        Only project members, members of the maintainer, members of organization
        and super admins can list metadata.
      tags:
        - Projects
      parameters:
        - *ref_12
  /manage/projects/{project_id}/metadata/{metadata_id}:
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      summary: Remove project metadata
      operationId: Remove project metadata
      description: ''
      tags:
        - Projects
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: string
        - name: metadata_id
          in: path
          description: Metadata ID
          required: true
          schema:
            type: string
  /manage/projects/{project_id}/invitations:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    created:
                      type: string
                    expires:
                      type: string
                      nullable: true
                    reason:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        email:
                          type: string
                    creator:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        email:
                          type: string
                  required:
                    - id
[...]
