parameters:
	ignoreErrors:
		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#1 \\$message of method Exception\\:\\:__construct\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Exception.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$token$#"
			count: 1
			path: tests/ClientTestCase.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/FileStorageAbsTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/FileStorageS3Test.php

		-
			message: "#^Method Keboola\\\\ManageApiTest\\\\ProjectsTest\\:\\:initTestOrganization\\(\\) should return array but returns array\\|ArrayAccess\\.$#"
			count: 1
			path: tests/ProjectsTest.php

		-
			message: "#^Method Keboola\\\\ManageApiTest\\\\ProjectsTest\\:\\:initTestProject\\(\\) should return array but returns array\\|ArrayAccess\\.$#"
			count: 1
			path: tests/ProjectsTest.php

		-
			message: "#^Variable \\$storage might not be defined\\.$#"
			count: 1
			path: tests/ProjectsTest.php

		-
			message: "#^Variable \\$supportedFileStorage might not be defined\\.$#"
			count: 1
			path: tests/ProjectsTest.php

		-
			message: "#^Variable \\$unsupportedFileStorage might not be defined\\.$#"
			count: 1
			path: tests/ProjectsTest.php

