<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
            <exclude>tests/FileStorageAbsTest.php</exclude>
            <exclude>tests/FileStorageS3Test.php</exclude>
            <exclude>tests/FileStorageGcsTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix="Interface.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>