<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="manage-part-1">
            <directory>tests</directory>
<!--            exclude file storage tests-->
            <exclude>tests/tests/FileStorageAbsTest.php</exclude>
            <exclude>tests/tests/FileStorageS3Test.php</exclude>
            <exclude>tests/tests/FileStorageGcsTest.php</exclude>

            <exclude>tests/AssignAdminFeatureTest.php</exclude>
            <exclude>tests/AssignProjectFeatureTest.php</exclude>
            <exclude>tests/FeaturesTest.php</exclude>
            <exclude>tests/MaintainerInvitationsTest.php</exclude>
            <exclude>tests/MaintainerJoinTest.php</exclude>
            <exclude>tests/MaintainersTest.php</exclude>
            <exclude>tests/MaintainersMetadataTest.php</exclude>
            <exclude>tests/UsersMetadataTest.php</exclude>
            <exclude>tests/UsersTest.php</exclude>
<!--            exclude tests which are covered in `manage-part-2`-->
            <exclude>tests/tests/UsersMetadataTest.php</exclude>
            <exclude>tests/tests/PromoCodesTest.php</exclude>

            <exclude>tests/ProjectDeleteTest.php</exclude>
            <exclude>tests/ProjectInvitationsMfaValidationTest.php</exclude>
            <exclude>tests/ProjectInvitationsTest.php</exclude>
            <exclude>tests/ProjectJoinMfaValidationTest.php</exclude>
            <exclude>tests/ProjectJoinRequestsMfaValidationTest.php</exclude>
            <exclude>tests/ProjectJoinRequestsTest.php</exclude>
            <exclude>tests/ProjectJoinTest.php</exclude>
            <exclude>tests/ProjectMembershipRolesTest.php</exclude>
            <exclude>tests/ProjectMfaValidationTest.php</exclude>
            <exclude>tests/ProjectsMetadataTest.php</exclude>
            <exclude>tests/ProjectsTest.php</exclude>
            <exclude>tests/ProjectStorageBackendTest.php</exclude>
            <exclude>tests/ProjectTemplateFeaturesAssigningTest.php</exclude>
            <exclude>tests/ProjectTemplateFeaturesTest.php</exclude>
            <exclude>tests/ProjectTemplatesTest.php</exclude>
            <exclude>tests/ProjectWithProtectedDefaultBranchTest.php</exclude>
        </testsuite>
        <testsuite name="File Storage">
            <file>tests/FileStorageAbsTest.php</file>
            <file>tests/FileStorageS3Test.php</file>
            <file>tests/FileStorageGcsTest.php</file>
        </testsuite>
        <testsuite name="manage-part-2">
            <file>tests/UsersMetadataTest.php</file>
            <file>tests/PromoCodesTest.php</file>

            <file>tests/AssignAdminFeatureTest.php</file>
            <file>tests/AssignProjectFeatureTest.php</file>
            <file>tests/FeaturesTest.php</file>
            <file>tests/MaintainerInvitationsTest.php</file>
            <file>tests/MaintainerJoinTest.php</file>
            <file>tests/MaintainersTest.php</file>
            <file>tests/MaintainersMetadataTest.php</file>
            <file>tests/UsersMetadataTest.php</file>
            <file>tests/UsersTest.php</file>



            <file>tests/ProjectDeleteTest.php</file>
            <file>tests/ProjectInvitationsMfaValidationTest.php</file>
            <file>tests/ProjectInvitationsTest.php</file>
            <file>tests/ProjectJoinMfaValidationTest.php</file>
            <file>tests/ProjectJoinRequestsMfaValidationTest.php</file>
            <file>tests/ProjectJoinRequestsTest.php</file>
            <file>tests/ProjectJoinTest.php</file>
            <file>tests/ProjectMembershipRolesTest.php</file>
            <file>tests/ProjectMfaValidationTest.php</file>
            <file>tests/ProjectsMetadataTest.php</file>
            <file>tests/ProjectsTest.php</file>
            <file>tests/ProjectStorageBackendTest.php</file>
            <file>tests/ProjectTemplateFeaturesAssigningTest.php</file>
            <file>tests/ProjectTemplateFeaturesTest.php</file>
            <file>tests/ProjectTemplatesTest.php</file>
            <file>tests/ProjectWithProtectedDefaultBranchTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>tests/
                <directory suffix="Interface.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
